<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="data:,">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title> NTUST漸縮漸擴模型ZX截面之穩態模擬 </title>
</head>
<body>
	<h1> Color detection program collaborated with NTUST, ME </h1>
	<p> Please select the file(s) to upload</p>
	<form action="/" method="post" enctype="multipart/form-data">
    	<input type="file" id="file1" name="files1[]" multiple="multiple" accept="image/*" /> <br> <br>
	<p> Please select the .json file used to specify the color definition.  </p> <br> 
    	<input type="file" id="file2" name="files2" accept=".json" />
    	<input type="submit" value="Upload!" />
	</form>
</body>
</html>




